#introContact{
    margin: 2%;
    h1{
        margin: 2% 5%;
    }
    .blueLine{
        @include blueLine($width:5em);
        margin: 1rem 0 2rem;
    }
    .contactHeader{
        @include flex ($just:space-evenly, $dir: row, $align: center);
        iframe{
            width: 40rem;
        }
        .contactAddress{
            text-align: center;
            font-weight: lighter;
            font-size: 24px;
            color: $thirdColor;
            background-color: $fourthColor;
            padding: 10%;
        }
    }
}

#formContact{
    position: relative;
    margin: 5%;
    color: $thirdColor;
    background-color: $fourthColor;
    font-size: 24px;
    height: 130vh;
    .button{
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform:translateX(-50%);
    }
    form{
        width: 100%;
        padding-left: 10%;
        @include flex ($just:center, $dir: column, $align: stretch);
        .labelandInput{
            @include flex ($just:center, $dir: column, $align: flex-start);
            padding-top: 50px;
            input, textarea{
                font-family: numans;
                width: 70%;
                height: 60px;
                font-size: 24px;
            }
            textarea{
                height: 200px;
                max-width: 70%;
                max-height: 200px;
            }
        }
    }
}