
footer {
    position: relative;
    color: $thirdColor;
    .returnToHeader{
        position:fixed;
        padding: 5px 20px;
        top: 600px;
        right: 10px;
        z-index: 99;
        background-color: $fourthColor;
        border-radius: 30px;
        font-size: 2.5em;
        box-shadow: 1px 1px 4px $secondaryColor;
        animation-name: getHeader;
        animation-duration: 0.5s;
        a{
            color : $thirdColor;
        }
       
    }
    .barre {
        position: absolute;
        height: 100%;
        width: 5px;
        background-color: $thirdColor;
        left: 50%;
        transform: translateX(-50%);
    }
}
// ANIMATION APPEARENCE OF THE RETURN-TO-HEADER ARROW
@keyframes getHeader{
    from {
        right: -10px;
    }
    to{
        right: 10px;
    }
}

#foot {
    @include flex(space-between, row, center);
    background-color: $fourthColor;
    width: 100%;
    height: 150px;
    .mentionsLegales{
        margin-left: 5rem;
    }

    .contact {
        @include flex(row,center)
    }
    .socialNetworks{
        font-size: 1.5rem;
        margin-right: 5rem;
        margin-left: 2rem;
    }
}





