
footer {
    position: relative;
    color: $thirdColor;
    .returnToHeader{
        position:absolute;
        padding: 5px 10px;
        top: -75px;
        right: 10px;
        background-color: $fourthColor;
        font-size: 2.5em;
        a{
            color : $thirdColor;
        }
       
    }
    .barre {
        position: absolute;
        height: 100%;
        width: 5px;
        background-color: $thirdColor;
        left: 50%;
        transform: translateX(-50%);
    }
}

#foot {
    @include flex(space-between, row, center);
    background-color: $fourthColor;
    width: 100%;
    height: 150px;
    .mentionsLegales{
        margin-left: 5rem;
    }

    .contact {
        @include flex(row,center)
    }
    .socialNetworks{
        font-size: 1.5rem;
        margin-right: 5rem;
        margin-left: 2rem;
    }
}





