header {
    font-weight: bolder;
    #desktopNavbar{
        position: relative;
        z-index: 3;
        @include flex ($just:space-between, $dir: row, $align: center);
        padding: 5px 30px;
        font-family: overpass;
        color: $primaryColor;
        font-size: 1.4em;
        img{
            width: 80px;
        }
        .navbar {
            @include flex ($just:space-around, $dir: row, $align: center);
            // ANIMATION LIEN NAVBAR
            a::after{
                content: '';
                    display: block;
                    position: absolute;
                    height: 2px;
                    width: 0;
                    left: 0;
                    background-color: $thirdColor;
                    transition: width 0.3s ease-in-out;
              } 
              a::after{
                bottom: 0;
              }   
              a:hover::after{
                width: 50px;
              }
            #desktopMember > a{
                cursor: crosshair;
            }
        }
        .navbar > li {
            padding: 35px 25px;
        }
        .socialNetworks{
            i{
                padding: 0 5px;
                color: $thirdColor;
                cursor: pointer;
            }
        }
    }
// --------CAROUSSEL--------------------------
    *{box-sizing: border-box;}
    .carousel {
      position: relative;
      width: 100%;
      height: 500px;
      overflow: hidden;
      background-color: #cdcdcd;
      .carousel-item {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
        &.active {
          left: 0;
          transition: all 0.3s ease-out;
        }
        div {height: 100%;}
        .image1 {
            background-image: url(../img/img1.jpg);
            background-size: cover;
        }
        .image2 {
          background-image: url(../img/bg_img2.jpg);
          background-size: cover;
    }
        .image3 {
          background-image: url(../img/bg_img3.jpg);
          background-size: cover;
        }
      }
    }
}


// DROPDOWN DU MENU BURGER LORSQUE VISIBLE
#mobileNavbar{
    display : none;
    position: absolute;
    z-index: 99;
    top: 0;
    width: 100%;
    height: 15vh;
    background-color: #F5F5F5;
    font-size: 1.5em;
    padding: 2px 30px;
    .socialNetworks{
        i{
            padding: 0 5px;
            color: $secondaryColor;
            cursor: pointer;
        }
        #menuBurger{
            padding: 0 5px;
            font-size: 2em;
        }
    }
}

#menuBurger:hover{
    cursor: pointer;
}

#mobileHeader{
    display: none;
}

#dropdown{  
    position: absolute;
    z-index: 100;
    top: 10vh;
    right:0;
    width: 100%;
    padding-right: 180px;
    font-family: overpass;
    font-size: 1.5em;
    text-align: right;
    color: $secondaryColor;
    animation-name: dropdownAnim;
    animation-duration: 0.5s;
    background-color: #F5F5F5;
    opacity: 0.9;
    a{
        color: $secondaryColor;
    }
}

@keyframes dropdownAnim{
    from{
        filter: blur(4px);
    }
    to {
        filter: blur(0);
    }
}

// DROPDOWN DES NOMS DES MEMBRES
.memberMobileDropdown{
    position: absolute;
    width: 100%;
    top: 1vh;
    padding-right: 20px;
    animation-name: dropdownAnim;
    animation-duration: 0.5s;
}
.memberDropdown{
    position: absolute;
    top: 10vh;
}
.displayNone{
    display: none;
}

// ANIMATION NAVBAR
// #desktopNavbar::before{
//     transform: scaleX(0);
//     transform-origin: bottom right;
// }
// #desktopNavbar:hover::before {
// transform: scaleX(1);
// transform-origin: bottom left;
// }
// #desktopNavbar::before {
// content: " ";
// display: inline;
// position: absolute;
// top: 0; right: 0; bottom: 0; left: 0;
// inset: 0 0 0 0;
// background: $secondaryColor;
// z-index: -1;
// transition: transform .3s ease;
// }
// #desktopNavbar{
//     position:relative;
// }