header {
    background-image: url(../img/bg_img3.jpg);
    background-size: cover;
    height: 60vh;
    width: 100%;
    position: relative;
    font-weight: bolder;
    #desktopNavbar{
        @include flex ($just:space-between, $dir: row, $align: center);
        padding: 5px 30px;
        font-family: overpass;
        font-size: 1.5em;
        img{
            width: 80px;
        }
        ul {
            @include flex ($just:space-around, $dir: row, $align: center);
        }

        ul>li {
            padding: 35px 25px;
        }
        .socialNetworks{
            i{
                padding: 0 5px;
                color: $primaryColor;
                cursor: pointer;
            }
        }
    }
}
#menuBurger{
    position: absolute;
    right : 20px;
    top : 40px;
    font-size: 2em;
    cursor: pointer;
}

// DROPDOWN LORSQUE VISIBLE
#dropdown{
    padding-right: 20px;
    font-family: overpass;
    font-size: 1.5em;
    text-align: right;
    background-color: $primaryColor;
    animation-name: "dropdownAnim";
    animation-duration: 0.5s;
    a{
        color: $secondaryColor;
    }
}

@keyframes dropdownAnim{
    from{
        height: 0px;
    }
    to {
        height: 120px;
    }
}

.displayNone{
    display: none;
}