#mainIndex{
    h1{
        text-align: center;
        margin: 20px 0;
    }
    // PRESENTATION SECTION
    #presentation{
        margin: 2%;
        .indexLogo{
            margin: 50px auto;
            text-align: center;
            img{
                width: 20%;
            }
            .afterLogo{
                font-family: overpass;
                font-size: 18px;
            }
        }
    }
    // MEMBERS SECTION
    .darkBackground{
        padding: 2%;
        margin: 0;
        background-color: $fourthColor;
        #memberCaroussel{
            width: 100%;
            .slideshow-container-members{
                article.membersSlides{
                    @include flex($just:space-around, $dir: row, $align: center);
                    padding: 5%;
                    width: 50vw;
                    height: 50vh;
                    margin: 0 auto;
                    background-color: $primaryColor;
                    position: relative;
                    h2, p{
                        color: $secondaryColor;
                    }
                    .imgSizing{
                        display: inline-block;
                        width: 75%;
                        object-fit: cover;
                        object-position: top;
                        img{
                            width: 100%;
                        }
                    }
                    .articleText{
                        padding: 2%;
                    }
                    .button{
                        position: absolute;
                        bottom: 10%;
                        right: 3%;
                        transform: translateX(-50%);
                    }
                }
            }  
        }  
    }
    // REVIEWS SECTION
    #indexReviews{
        margin: 2%;
        .reviews{
            @include flex($just:center, $dir: row, $align: center);
            article{
                border: 1px solid $secondaryColor;
            }
        }
    }
    // GALLERY SECTION
    #indexGallerie{
        margin: 2%;
        #realisation{
            position:relative;
            .button{
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}



