#mainIndex{
    h1{
        text-align: center;
        margin: 20px 0;
    }
    #presentation{
        margin: 2%;
        .indexLogo{
            margin: 50px auto;
            text-align: center;
            img{
                width: 20%;
            }
            .afterLogo{
                font-family: overpass;
                font-size: 18px;
            }
        }
    }
    .darkBackground{
        padding: 2%;
        margin: 0;
        background-color: $fourthColor;
        #memberCaroussel{
            width: 75%;
            article{
                @include flex($just:center, $dir: row, $align: center);
                padding: 10px;
                margin: 2%;
                height: 20vh;
                background-color: $primaryColor;
                position: relative;
                h2, p{
                    color: $secondaryColor;
                }
                .button{
                    position: absolute;
                    bottom: 20px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }  
        }  
    }
    #indexReviews{
        margin: 2%;
        .reviews{
            @include flex($just:center, $dir: row, $align: center);
            article{
                border: 1px solid $secondaryColor;
            }
        }
    }
    #indexGallerie{
        margin: 2%;
        #realisation{
            position:relative;
            .button{
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}



