* {
    margin: 0px;
    padding: 0px;
    @include decoration_text_none;
}

body {
    width: 100%;
    font-family: numans, "roboto";
}

a{
    color: $primaryColor;
}

h1{
    font-family: poiret;
    font-size: 2.5em;
    margin: 20px 0;
}
.blueLine{
    width: 100px;
    height: 2px;
    background-color: $thirdColor;
}

h2{
    font-family: overpass;
    font-size: 1.2em;
}

p{
    letter-spacing: 10%;
    line-height: 25px;
    font-size: 1em;
}

.button{
    @include button;
}