@media screen and (min-width: 1700px){
    #galleryItself{
        width: 61%;
    }
}

@media screen and (max-width: 1024px){
    #galleryItself{
        width: 100%;
        .boxSizing{
            padding-left: 20%;
        }
    }

    #galleryItself{
        .boxSizing{
            img{
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: 630px){
    #galleryItself{
        .boxSizing{
            padding-left: 10%;
            img{
                width: 90%;
            }
        }
    }
}


@media screen and (max-width: 426px){
    #galleryItself{
        .boxSizing{
            padding-left: 0%;
            img{
                width: 100%;
            }
        }
    }

    footer{
        font-size: 0.8rem;
        .barre{
            display: none;
        }
        #foot {
            .socialNetworks{
                font-size: 1rem;
            }
        }
    }
}