@media screen and (max-width: 768px){
    h1{
        font-family: poiret;
        font-size: 2em;
        margin: 20px 0;
    }
    #mobileNavbar{
        @include flex ($just:space-around, $dir: row, $align: center);
    }
    // .carousel{
    //     display: none;
    //     visibility: hidden;
    // }
    #mobileHeader{
        display: block;
        margin-top: 15vh;
        height: 40vh;
        background-image: url(../img/bg_img_mobile.png);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    header{
        background-image: none;
    }

    #mainIndex{
        #presentation{
            .blueLine{
                @include blueLine($width:90%);
                margin: 1rem 0 2rem;
            }
            .indexLogo img{
                width: 40%;
            }
            h2{
                margin: 1rem 0rem;
            }
        }
    }
    #mainIndex #indexGallerie #realisation h2 {
        font-size: 1.5rem;
    }
    #mainIndex #indexGallerie #realisation .button {
        position: absolute;
        margin-top: 1rem;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 30px;
        font-size: 1rem;
    }
    #mainIndex #opinion h2 {
        font-family: poiret;
        font-size: 2em;
        text-align: center;
        margin: 2rem 0rem 1rem;
    }
}

// -----------------------------------------
// RESPONSIVE INDEX SLIDER------------------
// -------------------------------------------
// @media screen and (max-width: 1024px){
//     #memberCaroussel{
//         width: 100%;
//         .slideshow-container-members{
//             article.membersSlides{
//                 @include flex($just:space-around, $dir: row, $align: center);
//                 padding: 5%;
//                 width: 50vw;
//                 height: 50vh;
//                 margin: 0 auto;
//                 background-color: $primaryColor;
//                 position: relative;
//                 h2, p{
//                     color: $secondaryColor;
//                 }
//                 .imgSizing{
//                     display: inline-block;
//                     width: 75%;
//                     object-fit: cover;
//                     object-position: top;
//                     img{
//                         width: 12rem;
//                     }
//                 }
//                 .articleText{
//                     padding: 2%;
//                     margin-left: 1rem;
//                     margin-bottom: 3.5rem;
//                     p{
//                         font-size: small;
//                         line-height: normal;
//                     }
//                 }
//                 .button{
//                     font-size: 12px;
//                     position: absolute;
//                     bottom: 5%;
//                     right: 3%;
//                     transform: translateX(-50%);
//                 }
//             }
//         }  
//     }
//     #mainIndex .darkBackground #memberCaroussel .slideshow-container-members article.membersSlides .button {
//         position: absolute;
//         bottom: 4%;
//         right: -15%;
//         transform: translateX(-50%);
//     }
// }

// @media screen and (max-width: 768px){
//     #mainIndex .darkBackground #memberCaroussel .slideshow-container-members article.membersSlides {
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     flex-direction: column;
//     padding: 5%;
//     width: 50vw;
//     height: 67vh;
//     margin: 0 auto;
//     background-color: #FFFFFF;
//     position: initial;
//     }
//     #mainIndex .darkBackground #memberCaroussel .slideshow-container-members article.membersSlides .button {
//         // position: initial;
//         margin: auto;

//     }
//     .dotMembers {
//         display: none;
//     }
//     #mainIndex .darkBackground #memberCaroussel .slideshow-container-members article.membersSlides .imgSizing img {
//         width: 8rem;
//     }
// }

