// @media screen and (max-width: 1024px){
//     background-image: url(../images/photo-1556139943-4bdca53adf1e\ 1.jpg);
//     max-width: 100%;


// }

@media screen and (max-width: 1024px){
    #mobileNavbar{
        @include flex ($just:space-around, $dir: row, $align: center);
    }
    .carousel{
        display: none;
        visibility: hidden;
    }
    #mobileHeader{
        display: block;
        height: 40vh;
        background-image: url(../img/bg_img_mobile.png);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        img{
            position: absolute;
            left: calc(50% - 50px);
            bottom: 50%;
            width: 100px;
        }
    }
    header{
        background-image: none;
    }
}
