.member {
    margin: 2% 20% 0%;
    .memberIntroduction {
        @include flex(center, row, center);
        .memberDescription {
            .blueLine {
                width: 14.5rem;
                height: 2px;
                background-color: $thirdColor;
            }
        }
        img {
            width:15em;
            border-radius: 7.5em;
        }
        h1,p {
            margin-left: 5%;
        }
    }

    #memberText2 {
        margin: 5% 0% 5%;
    }

    .memberAbilities {
        @include flex(center, row, flex-start);
        background-color: $fifthColor;
        margin-bottom: 2em;
        img {
            width: 18em;
            margin-top: 2em;
            margin-left: 2em;
        }
        #memberText3 {
            margin: 2em;
        }
        #member-illustration{
            .followMe{
                text-align: center;
                margin-top: 1rem;
                margin-bottom: 1rem;
                color: $secondaryColor;
                a{
                    color: $secondaryColor;
                }
                p{
                    margin-bottom: 1rem;
                }
            }
        }
    }
}