.member{
    article{
        margin: 2% 20%;
        @include flex($dir: row);
        .memberDescription{
            padding : 0 2%;
        }
    }
}

#memberPic{
    width: 30%;
    object-fit: cover;
    object-position: top;
    img{
        width: 15em;
    }
}

#member-illustration{
    width: inherit;
    object-fit: cover;
    object-position: center;
    img{
        width: 25em;
    }
}