.member {
    margin: 2% 20% 0%;

    .memberIntroduction {
        @include flex(center, row, center);

        .memberDescription {
            .blueLine {
                width: 20em;
                height: 2px;
                background-color: $thirdColor;
                margin-left: 5%;
                margin-bottom: 5%;
            }
        }

        img {
            width:15em;
            border-radius: 7.5em;
        }
        h1,p {
            margin-left: 5%;
        }
    }

    #memberText2 {
        margin: 5% 0% 5%;
    }

    .memberAbilities {
        @include flex(center, row, flex-start);
        background-color: $fifthColor;
        margin-bottom: 2em;

        img {
            width: 18em;
        }
        p {
            margin: 2% 2% 2% 2%;
        }
    }
}

.individualSocialNetworks{
    margin-left:5%;
    a{
        color:$secondaryColor;
        font-size: 1.5em;
        align-self: flex-start;
    }
}