@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}

$primaryColor: #FFFFFF;
$secondaryColor: #FF4676;
$thirdColor: #3BD8C5;
$fourthColor: #000000;
$fifthColor: #E2E2E2

