@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "poiret";
    src: url(../fonts/PoiretOne-Regular.ttf);
}

@font-face {
    font-family: "overpass";
    src: url(../fonts/Overpass-VariableFont_wght.ttf);
}

@font-face {
    font-family: "numans";
    src: url(../fonts/Numans-Regular.ttf);
}

$primaryColor: #FFFFFF;
$secondaryColor: black;
$thirdColor: #67F7F0;
$fourthColor: #303037;
$fifthColor: #F7FCFB;

